<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>De Hallen</title>

    <link rel="stylesheet" href="/assets/style.css">
    <!-- <link rel="stylesheet" href="assets/style.css"> -->

     <!-- GOOGLE FONTS -->
    
     <!-- EINDE GOOGLE FONTS -->
    
    <!-- <script src="scripts/client.js" defer></script> -->
  </head>
  <body>  

  <nav>
    <a class="logo" href="/"<% if (current == '/') { %> class="active"<% } %>>Home</a>
    <ul>
      <!-- als de current van de pagina matcht geeft hij een active class -->
      <li><a href="/vraag-aanbod"<% if (current == '/vraag-aanbod') { %> class="active"<% } %>>Vraag en aanbod</a></li>
      <li><a href="/opdracht-aanmelden"<% if (current == '/opdracht-aanmelden') { %> class="active"<% } %>>Opdracht aanmelden</a></li>
      <li><a href="/about"<% if (current == '/about') { %> class="active"<% } %>>About</a></li>
      <li><a href="/faq"<% if (current == '/faq') { %> class="active"<% } %>>FAQ</a></li>
      <li><a href="/contact"<% if (current == '/contact') { %> class="active"<% } %>>Contact</a></li>
    </ul>
  </nav>